@model HomeViewModel

<partial name="_Carousel"></partial>
<h2>Candy On Sale</h2>
<div class="row">
    @foreach (var candy in Model.CandyOnSale) 
    {
        <partial name="_candyCard" model="candy"></partial>
    }
</div>
